<!-- footer.component.html -->
<footer class="text-white text-center text-lg-start bg-dark">
    <div class="container p-4">
      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Sobre el local</h5>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti.
          </p>
          <p>
            Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
            molestias.
          </p>
          <div class="mt-4">
            <a class="btn btn-floating btn-light btn-lg"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-floating btn-light btn-lg"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-floating btn-light btn-lg"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-floating btn-light btn-lg"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Barrio Ejercito, 967, San Pedro de Jujuy</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">bocadoexpress&#64;gmail.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 48 234 567 88</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Horarios apertura - cierre</h5>
          <table class="table text-center text-white">
            <tbody class="fw-normal bg-dark">
              <tr class="">
                <td class="bg-dark text-white">Lunes - Jueves:</td>
                <td class="bg-dark text-white">7pm - 12am</td>
              </tr>
              <tr>
                <td class="bg-dark text-white">Viernes - Sabado:</td>
                <td class="bg-dark text-white">7pm - 03am</td>
              </tr>
              <tr>
                <td class="bg-dark text-white">Domingo:</td>
                <td class="bg-dark text-white">7pm - 12am</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="">Bocado Express</a>
    </div>
  </footer>  