<header>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <!--TITULO Y DROPDOWN -->
            <div class="container-fluid">
                <div class="d-flex p-2">
                    <div>
                        <a class="navbar-brand" routerLink="/">Bocado Express</a>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Todas las categorias
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <li><a class="dropdown-item active" href="#">Hamburguesas</a></li>
                          <li><a class="dropdown-item" href="#">Milanesas</a></li>
                          <li><a class="dropdown-item" href="#">Lomitos</a></li>
                        </ul>
                    </div>
                </div>


                <!--BUSQUEDA Y CARRITO-->
                <div class="d-flex justify-content-end">
                    <div class="d-flex p-2" id="cart">
                        <a routerLink="/carrito-compra">
                            
                            <img class="carrito" src="assets/images/carro-vacio.png" alt="" width="30">
                        </a>
                        <!-- <div class="d-flex p-2">
                            <span>0</span>
                        </div> -->
                    </div>
                </div>
            </div>
        </nav>
    </header>
</header>
