.dropdown:hover .dropdown-menu{
    display: block;
}
#cart{
    background-color: white;
    border-radius: 25%;
}
#cart:hover{
    background-color: rgb(255, 236, 127);
}
#carrito{
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    font-size: 30px;
    line-height: 40px;
}
.logo{
    height: 90px;
    width: 100px;
}