<div class="card rounded-4 shadow">
    <img class="card-img-top rounded-top-4" id="imagenProducto" [src]="producto.imagen" alt="hamburger">
    <div class="card-body">
        <div class="d-flex mb-1">
            <span class="flex-grow-1">{{ producto.estado.descripcion }}</span>
            <span class="">$ {{ producto.precio }}</span>
        </div>
        <h5 class="card-title card-title-truncate mb-1">{{ producto.nombre }}</h5>
        <p class="card-text card-text-truncate lh-sm">
            <small>{{ producto.descripcion }}</small>
        </p>
        <div class="text-center">
            <a class="btn btn-outline-dark rounded-pill" (click)="agregarAlCarrito()">Añadir al carrito</a>
        </div>
    </div>
</div>