<div class="mt-4">
  <h1 class="text-center">Detalle del pedido</h1>
  <div class="container">
    <table class="table mt-5">
      <thead>
        <tr>
          <th class="col-2" scope="col">#</th>
          <th class="col-4" scope="col">Producto</th>
          <th class="col-2" scope="col">Cantidad</th>
          <th class="col-2" scope="col">Precio</th>
          <th class="col-2" scope="col">SubTotal</th>
        </tr>
      </thead>
      <tbody>
        @for (producto of productosCarrito; track $index) {
          <tr>
            <td scope="row">{{ $index + 1 }}</td>
            <td>{{ producto.nombre }}</td>
            <td>
              <input class="form-control" type="number" name="cantidad" id="cantidad" min="1" [defaultValue]="1" [(ngModel)]="producto.cantidad">
            </td>
            <td>$ {{ producto.precio }}</td>
            <td>$ {{ producto.precio * producto.cantidad }} </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="5" class="text-center p-4">¡Carrito vacio!<br><br>Prueba añadiendo algún producto...</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <form ngNativeValidate (submit)="hacerPedido()">
    <div class="container mt-5">
      <div class="row">
          <div class="col-7">
            <input class="form-control mb-2" type="text" name="nombreCliente" id="nombreCliente" placeholder="Nombre de cliente" [(ngModel)]="nuevoPedido.nombreCliente" [required]="true">
            <input class="form-control mb-2" type="text" name="observacion" id="observacion" placeholder="Ingrese sus preferencias" [(ngModel)]="nuevoPedido.observacion" [required]="true">
            <input class="form-control mb-2" type="number" name="telefono" id="telefono" placeholder="Número de teléfono" [(ngModel)]="nuevoPedido.telefono" [required]="true">
            <input class="form-control mb-2" type="text" name="direccionEnvio" id="direccionEnvio" placeholder="Dirección de envío" [(ngModel)]="nuevoPedido.direccionEnvio" [required]="true">
            <select class="form-control mb-2" name="tipoEntrega" id="tipoEntrega" [(ngModel)]="nuevoPedido.tipoEntrega" [required]="true">
              <option value="0" disabled>Tipo de entrega...</option>
              <option value="Delivery">Delivery</option>
              <option value="Retiro en Local">Retiro en Local</option>
            </select>
          </div>
          <div class="col-5 text-center align-self-center">
            <h2 class="total">Total a pagar: $ {{ obtenerTotalPedido() }} </h2>
            <div class="mt-4">
              <button type="submit" class="btn btn-lg btn-dark rounded-pill">Hacer Pedido</button>
            </div>
          </div>
      </div>
    </div>
  </form>
</div>
