<div class="container">
    <h1 class="pb-3">Menu</h1>
    <div class="row row-cols-md-auto row-cols-sm-2 gy-4 justify-content-md-center">
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
        <div class="col">
            <app-product-card></app-product-card>
        </div>
    </div>
</div>
